<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>POSTS</mat-card-title>
          <mat-card-subtitle>Add Here</mat-card-subtitle>
        </mat-card-header>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Create Post Title</mat-label>
        <input matInput placeholder="Enter the post title" type="text" formControlName="title" minlength="3" />
        <mat-error *ngIf="form.get('title').invalid">
          Enter the title
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Create Post Content</mat-label>
        <textarea matInput row="20" formControlName="content" placeholder="Enter the post content"></textarea>
        <mat-error *ngIf="form.get('content').invalid">
          Enter the Content</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit">
        Save Post
      </button>
    </mat-card-actions>
  </form>
</mat-card>
